body {
    margin: 0;
    font-family: 'Verdana', sans-serif;
    background-color: #030e25;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: white;
    font-size: 60px;
}

#principal {
    background-image: url("/Imagenes/velocimetro.jpg") ; /*imagen de fondo para el div*/
    border-bottom: 2px solid dodgerblue;
    /*Codigo generado por chatGPT. Le pedí que como podia hacer que la foto se viera completa para luego poner elementos encima de esa imagen en el centro*/
    background-size: cover; /*Para que la imagen se vea completa y no se haga zoom automatico*/
    background-position: center; /*Para que la imagen se centre en la pantalla*/
    height: 50vh; /*50% de la altura total de la ventana del navegador*/
    display: flex; /*Para que los dos siguientes atributos funcionen uso el display flex*/
    justify-content: center; /*Alinear los elementos horizontalmente en el centro del div*/ 
    align-items: center; /*Alinear los elemento verticalmente en el centro del div*/
}

.bienvenida {
    padding-top: 15px;
    width: 45%;
    background-color: rgba(0,0,0,0.85);
    color: white; 
    font-size: 50px; 
    text-align: center;
    border-radius: 25px;
}

.bienvenida p {
    width: 50%;
    margin: 0 auto;
    font-size: 20px; 
    margin-top: 20px;
    margin-bottom: 10px;
}

.bienvenida h2 {
    font-size: 40px; 
}

.formulario {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.field {
    color: white;
    background-color: rgba(0,0,0,0.85);
    padding: 20px;
    border: 2px solid dodgerblue;
    border-radius: 20px;
    text-align: left;
}

legend {
    color: dodgerblue;
}

.formulario h2 {
    text-align: center;
    margin: 40px;
    color: white;
}

.formulario label {
    color: white;
    font-size: 20px;
}

.formulario input {
    width: 95%;
    height: 25px;
    margin-bottom: 20px;
    font-size: 20px;
    padding-left: 10px;
}

.formulario select {
    width: 95%;
    height: 30px;
    margin-bottom: 20px;
    font-size: 20px;
    padding-left: 10px;
}

.opciones {
    /*Pregunte a chatGPT porque no conseguia poner las etiquetas junto a los radios en la misma linea me dijo de usar el inline-flex para que se organizarán en una fila y se alinearán en línea, y para no forzar el salto de linea */
    display: inline-flex;
    align-items: center;
}

.opciones label {
    margin-right: 15px;
    margin-left: 15px;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

.opciones input {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}

#boton {
    width: 30%;
    height: 50px;
    font-size: 25px;
    background: dodgerblue;
    border-radius: 15px;
    text-align: center;
    margin-top: 40px;
    color: white;
}


#boton:hover {
    color: black;
    background: rgb(0, 204, 255);
}

a:hover {
    color: #475fb7f1; 
}

#check {
    margin-bottom: 0;
    vertical-align:middle;
    width: 20px;
    height: 20px;
    
}

#terminos {
    display: inline;
    color: white;
    vertical-align:middle;
    font-size: 20px;
    margin-top: 20px;
}

#terminos a {
    text-decoration: underline;
    color: dodgerblue;
}

